.glow-button {
    --speed: 0.8; /* lower is faster */
    --reveal: 1.4s; /* time to show on hover */
    --radius: 8px; /* button border radius */
    --size: 2.5px; /* glow size */
    --color: #F0ABFC; /* glow color */

    position: relative;
    border: none;
    overflow: hidden;
    background: transparent;
    padding: var(--size);
    position: relative;
    transition: 0.3s all;
    cursor: pointer;
}

.glow-button:hover {
    filter: drop-shadow(0 0 1px var(--color));
}

.glow-button .text {
    border-radius: var(--radius);
    color: #fff;
    background: #1F2124;
    font-size: 14px;
    padding: 6px 16px;
    display: block;
}

.glow-container {
    position: absolute;
    inset: 0;
    opacity: 0;
    z-index: -1;
    border-radius: calc(var(--radius) + var(--size));
    overflow: hidden;
}

.glow-button:hover .glow-container {
    animation: fade-in-out var(--reveal) ease-in-out both;
}

@keyframes fade-in-out {
    0%,
    100% {
        opacity: 0;
    }

    30%,
    70% {
        opacity: 1;
    }
}

.glow {
    height: 100%;
    aspect-ratio: 1;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    border-radius: calc(var(--radius) + var(--size));
    filter: blur(5px);
}

.glow-button:hover .glow {
    animation: slide calc(var(--speed) * 1s) ease-in-out infinite alternate;
}

.glow::before {
    content: "";
    display: block;
    position: absolute;
    inset: -100%;
    background: conic-gradient(
        from 90deg,
        transparent 35%,
        var(--color) 35%,
        var(--color) 55%,
        #1cbab5 65%,
        transparent 65%
    );
    filter: blur(5px);
}

.glow-button:hover .glow::before {
    animation: calc(var(--speed) * 2s) spin ease-in-out infinite;
}

.glow:nth-child(2) {
    --rotate: 180deg;
    animation-direction: alternate-reverse !important;
}

@keyframes slide {
    0% {
        left: 0;
        transform: translateX(0) rotate(var(--rotate, 0deg));
    }

    100% {
        left: 100%;
        transform: translateX(-100%) rotate(var(--rotate, 0deg));
    }
}

@keyframes spin {
    0% {
        rotate: 0deg;
    }
    15%,
    35% {
        rotate: 90deg;
    }
    65%,
    85% {
        rotate: 270deg;
    }
    100% {
        rotate: 360deg;
    }
}